#wrap {
  width: 100%;
  background-color: rgb(228, 228, 220);

}

#main {
  display: flex;
}

/* .product_img  */
.product_img {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.product_img img {
  width: 50%;
}

.logo {
  width: 300px;
  position: absolute;
  top: 15px;
  left: 30px;
}


/* .product_des  */
.product_des {
  width: 50%;
  height: 100vh;
  background-color: rgb(252, 252, 248);

}

.product_des_in {
  width: 80%;
  /* height: 500px; */
  margin: 0 auto;
  margin-top: 200px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  font-size: 14px;
}

.product_des_in h4 {
  width: 80%;
}

.product_des_in_div {
  width: 80%;
  line-height: 30px;
}

.product_des_in h1 {
  font-size: 30px;
  padding-top: 20px;
  font-weight: 900;
}


.product_des_in h4 {
  border-bottom: 1px solid rgb(121, 115, 111);
  padding-top: 30px;
  padding-bottom: 10px;
}

.product_des_in_div li {
  border-bottom: 1px solid rgb(196, 196, 196);
  padding: 5px 0;
}

.product_des_in span {
  width: 80%;
  height: 50px;
  background-color: rgb(48, 48, 48);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}

.product_des_in span:hover {
  background-color: rgb(14, 14, 14);
  cursor: pointer;
}